body {
    background-color: #2E4F4F;
}

.navbar-brand {
    font-size: 3.5rem;
    font-weight: 700;
    padding-left: 1%;
    color: white;
    
    
}
.navbar-collapse {
    padding-left: 40%;

}


.nav-link {
    color: white;
    font-weight: 700;

    
    
}